<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Video</title>
    <link rel="icon" href="http://monterosa.d2.comp.nus.edu.sg/~SWS3021T5/picSrc/logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">SWS3021T5</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">Upload</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Play
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/play">Player</a>
                    <a class="dropdown-item" href="/playlist">Playlist</a>
                    <a class="dropdown-item" href="/compare">Algorithm Comparison</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 id="1">Please choose file</h1>
        <input type="file" id="myFile"/>
        <script src="/js/demo.js"></script>
    </div>
</div>

<!--<h1 id="1">Please choose file</h1>-->
<!--<input type="file" id="myFile"/>-->
<!--<script src="/js/demo.js"></script>-->

<div class="jumbotron text-center" style="margin-bottom:0">
    <h3>SWS3021T5</h3>
    <p>NUS SOC SWS</p>
    <p>Powered by monterosa.d2.comp.nus.edu.sg</p>
</div>
</body>
</html>